.header {
    display: flex;
    background-color: #1f2937;
    margin: 0;
    text-decoration: none;
    color: #f9faf8;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

a {
    color: #f9faf8;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.first-section {
    display: flex;
    background-color: #1f2937;
    margin: 0;
}

.second-section {
    display: flex;
    margin: 0;
}

.third-section {
    display: flex;
    background-color: #e5e7eb;
    margin: 0;
}

.fourth-section {
    display: flex;
    margin: 0;
}

.card {
    background-color: #3882f6;
    justify-content: center;
    align-items: center;
}

.action, .text {
    color: #e5e7eb;
}

.footer {
    display: flex;
    background-color: #1f2937;
    margin: 0;
    color: #f9faf8;
}

.hero {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.hero-small {
        font-size: 18px;
        color: #e5e7eb;
}

 ul {
    list-style-type: none;
}

q {
    font-size: 36px;
    font-weight: light italic;
    color: #1f2937;
}

.author {
    font-size: 24px;
    font-weight: bold;
}