.header {
    display: flex;
    background-color: #1f2937;
    margin: 0;
    text-decoration: none;
    color: #f9faf8;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    flex: auto;
}

a {
    color: #f9faf8;
    flex: auto;
    text-decoration: none;
}

a:hover {
    color: #3882f6;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.first-section {
    display: flex;
    background-color: #1f2937;
    margin: 0;
    padding: 48px 96px;
    justify-content: center;
    align-items: center;
}

.container-1 {
    flex: 1;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 24px 8px;
}

.big-photo {
    width: 100%;
    height: auto;
    flex: 1 1 auto;
}

button.submit {
    background-color: #3882f6;
    color: white;
    padding: 6px 24px;
    border-radius: 5px;
    box-shadow: none;
    outline: none;
    border: none;
    font-weight: 800;
}

.container-2 {
    flex: 1;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.second-section {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h3 {
    flex: 1;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    display: flex;
}

li {
    margin: 8px;
    display: flex;
    flex-direction: column;
}

.container-3 {
    display: flex;
    
}

img {
    width: 300px;
    height: auto;
    border:#3882f6 solid;
    border-radius: 5px;
    width: 100px;
    height: 100px;
}

.photos {
    display: flex;
}

.third-section {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    margin: 0;
    padding: 24px 96px;
}

q {
    font-size: 36px;
    font-weight: light italic;
    color: #1f2937;
    flex: 1;
}

.author {
    font-size: 24px;
    font-weight: bold;
    flex: 1;
    align-items: end;
    justify-content:end;
}

.fourth-section {
    display: flex;
    margin: 0;
    margin: 100px;
    justify-content: center;
    
}

.card {
    background-color: #3882f6;
    justify-content: center;
    align-items: center;
    flex: auto;
    border-radius: 5px;
    padding: 24px 48px;
    display: flex;
}

.last-button {
    background-color: #3882f6;
    border: thin #f9faf8 solid;
    border-radius: 5px;
    color: #f9faf8;
    padding: 8px 24px;
}

h5 {
    font-size: 24px;
}

.action, .text {
    color: #e5e7eb;
}

.footer {
    display: flex;
    background-color: #1f2937;
    margin: 0;
    color: #f9faf8;
    justify-content: center;
    padding: 32px 0;
}

.hero {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    font-family: Arial, Helvetica, sans-serif;

}

.hero-small {
        font-size: 18px;
        color: #e5e7eb;
        font-family: Arial, Helvetica, sans-serif;
}

