.header {
    display: flex;
    background-color: #1f2937;
    margin: 0;
    text-decoration: none;
    color: #f9faf8;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

a {
    color: #f9faf8;
    flex: auto;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.first-section {
    display: flex;
    background-color: #1f2937;
    margin: 0;
    flex-direction: row;
    padding: 8px 24px;
}

.container-1 {
    flex: auto;
    flex-wrap: wrap;
    width: 300px;
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 24px 8px;
}

button.submit {
    background-color: #3882f6;
    color: white;
    padding: 3px 6px;
    border-radius: 5px;
    box-shadow: none;
    outline: none;
    border: none;
}

.container-2 {
    flex: auto;
    background-color: white;
    width: auto;
    align-items: center;
    justify-content: center;
}

.second-section {
    display: flex;
    margin: 0;
}

.third-section {
    display: flex;
    background-color: #e5e7eb;
    margin: 0;
}

.fourth-section {
    display: flex;
    margin: 0;
}

.card {
    background-color: #3882f6;
    justify-content: center;
    align-items: center;
    flex: auto;
}

.action, .text {
    color: #e5e7eb;
}

.footer {
    display: flex;
    background-color: #1f2937;
    margin: 0;
    color: #f9faf8;
}

.hero {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    font-family: Arial, Helvetica, sans-serif;

}

.hero-small {
        font-size: 18px;
        color: #e5e7eb;
        font-family: Arial, Helvetica, sans-serif;
}

 ul {
    list-style-type: none;
}

q {
    font-size: 36px;
    font-weight: light italic;
    color: #1f2937;
}

.author {
    font-size: 24px;
    font-weight: bold;
}